:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.1em;

  color-scheme: light dark;
	color: #213547;
	background-color: #ffffff;

}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a:hover {
	color: #747bff;
}
.main {
	margin:4rem auto;
	padding: 0 1rem;
	max-width: 600px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  a:hover {
    color:rgb(210, 210, 210);
  }
}
  