.navbar {
    background-color: rgb(13, 56, 99);
    position:fixed;
    width:100%;
    top:0;
    z-index: 10;
    color:white;
    display: flex;
    align-items: center;
    /* justify-content: right; */
}
#website-name-label {
    padding:0 1rem;
}
.navbar-main {
    margin:0 auto;
    display:flex;
    align-items: center;
    padding:0 1rem;
    flex-grow: 1;
}
.logo {
    display:block;
}
.nav-ul {
    display: flex;
    list-style: none;
    gap:1rem;
    padding:1rem;
}
.nav-a {
    text-decoration: none;
    /* color:rgb(66, 66, 66); */
    color:white;
}
.nav-a:hover {
    color:rgb(164, 164, 239);
}

@media (prefers-color-scheme: dark) {
    .navbar {
        background-color: rgb(12, 12, 12);
    }
    .nav-a {
        color:rgb(213, 213, 213);
    }
    .nav-a:hover {
        color: #b3b3b3;
    }
}
@media screen and (max-width:500px){
    #website-name-label {
        display:none;
    }
}
