/* Styling for standard posts */
* {
    --color-main: rgb(0, 0, 193);
}
h1 {
    text-align: center;
    color:var(--color-main);
}
.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
.wrap-center {
    display: flex;
    justify-content: center;
}
h2 {
    margin-top:1.5rem;
    margin-bottom: 0.8rem;
    color:var(--color-main);
}
h3 {
    margin-top:1rem;
    margin-bottom:0.6rem;
    color:var(--color-main);
}
p {
    margin:.2rem 0;
}
.graph-container {
    margin:1rem 0;
}
.slider-row{
    display: flex;
    gap:1rem;
    margin:0 1rem;
}
.slider-container {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.slider {
    width:100%;
    max-width: 12rem;
}